/* standard elements */

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(50, 90, 250, 100);
    color: white;
}

body {
    position: aboslute;
    top: 2rem;
}

h1 {

}

h2 {
    font-size: 140%;
}

li {
    padding: .2rem;
}

ul {
    list-style: none;
}

a {
    color: white;
}

a:hover {
    background-color: rgba(20, 70, 200, 100);
}

/* classes */

.home-button {;
    position: absolute;
    top: .7rem;
    left: 0;
    border-style: dotted;
    letter-spacing: .1em;
    font-size: 1.4rem;
    margin: 10px;
    padding: 5px;
}

/* this styles a basic link list in the body text */

.link-box {
    display: block;
    border: 2px dotted white;
    justify-content: left;
    font-size: 1.2rem;
}


/* this styles the large bold text (ex. "Acting) on pages other than index */

.current-page {
    margin-top: 6em;
    display: block;
    border-style: dotted;
    max-width: 8em;
    text-align: center;
}

/* header and footer */

.top-page {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 10%);
    height: 50px;
    padding: 20px;
    color: rgba(255, 255, 255, 20%);
    min-width: 100%;
    text-align: center;
   }


.bottom-page {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 10%);
    height: 50px;
    padding: 20px;
    color: rgba(255, 255, 255, 70%);
    min-width: 100%;
    left: 0;
    text-align: center;
   }