/* white border box */
/* white border box */
/* white border box */

.blogpost, .link-box, .home-button, p, .current-page, #location-bar, .image-block {
    border: 2px dotted white;
} 

/* white border box */
/* white border box */
/* white border box */


/* standard elements */

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(50, 90, 250, 100);
    color: white;
   
}

p {
    padding: 1.5rem;
}

h2 {
    font-size: 140%;
}

li {
    padding: .2rem;
}

ul {
    list-style: none;
}

a {
    color: white;
}

a:hover {
    background-color: rgba(20, 70, 200, 100);
}

/* --------------- classes ---------------- */
/* classes */
/* classes */

/* body-style is the div container class within body elements that will style them */

.home-button {
    position: absolute;
    top: .8rem;
    font-size: 1.4rem;
    padding: .3rem;
}

/* this styles a basic link list in the body text */

.link-box {
    display: block;
    justify-content: left;
    font-size: 1.2rem;
}


/* this styles the large bold text (ex. "Acting) on pages other than index */

.current-page {
    display: block;
    text-align: left;
    padding-left: 2rem;
    font-size: 2.2rem;
}

/* --------------- ID's ---------------- */
/* ID's */
/* ID's */

#location-bar {
    padding: .5rem;
}

#hidden {
    visibility: hidden;
}


/*------ Post Properties ---------*/
/*------ Post Properties ---------*/
/*------ Post Properties ---------*/


.image-block > img {
    height: 10rem;
}

.blogpost {
    margin: auto;
    max-width: 20%
}