/* white border box */
/* white border box */
/* white border box */

/* .blogpost, h1, .link-box, p, .current-page, #location-bar, .image-block {
    border: 2px dotted white;
} 

/* white border box */
/* white border box */
/* white border box */


/* standard elements */

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(50, 90, 250, 100);
    color: white;
   
}

p {
    padding: 1.5rem;
}

h2 {
    font-size: 140%;
}

li {
    padding: .2rem;
}

ul {
    list-style: none;
}

a {
    color: white;
}

a:hover {
    background-color: rgba(20, 70, 200, 100);
}

/* --------------- classes ---------------- */
/* classes */
/* classes */

/* body-style is the div container class within body elements that will style them */


/* this styles a basic link list in the body text */

.link-box {
    display: block;
    justify-content: left;
    font-size: 1.2rem;
}


/* this styles the large bold text (ex. "Acting) on pages other than index */

.current-page {
    display: block;
    text-align: left;
    padding-left: 2rem;
    font-size: 2.2rem;
}

/* --------------- ID's ---------------- */
/* ID's */
/* ID's */

#location-bar {
    padding: .5rem;
}



/*------ Post Properties ---------*/
/*------ Post Properties ---------*/
/*------ Post Properties ---------*/




@media only screen and (max-width: 600px) {
    .image-block {
        display: block;
    }
    
    .blog-image-tab {
        padding-top: 1rem;
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .blog-post-title {
        font-size: 1.5rem;
        padding-left: 1rem;
    }
    
    .blog-description {
        padding: 0;
        margin-left: 1rem;
        margin-right: 2rem;
    }
}


@media only screen and (min-width: 601px) {
.image-block {
    display: flex;
}

.blog-image-tab {
    width: 14rem;
}

.blog-description {
    padding: 0;
    margin-left: 1rem;
    margin-right: 2rem;
}
}