:root {
  --fun-color-1: rgb(220, 161, 188);
}

* {
  border: white doted;
}

h1 {
  font-weight: 800;
  line-height: 2rem;
}

hr {
  border: 0;
}


#anything-else {
  width: 80%;
  height: 90px;
}

body {
  color: navy;
  font-family: Verdana;
  background: rgb(214, 214, 214);
  padding: 1rem;
  padding-bottom: 4rem;
}

::placeholder {
  color: rgba(255, 255, 255, 70%)
}
  
textarea {
  font-size: 18px;
  background-color: rgb(100, 120, 170);
  color: white;
  border: none;
}

label {
  display: inline-block;
  padding: 0.2em;
}

/*-- contains all page contents--*/

.full-content {
  max-width: 90%;
  margin: auto;
  max-width: 700px;
  background-color: white;
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  margin-top: 0;
  box-shadow: 10px 10px 10px rgb(152, 152, 152);
}

/*-- contains all page contents--*/

#title {
  background-color: white;
  padding: 1rem;
  text-align: center;
  top: -20;
}




/* -- BEGIN MEDIA QUERIES --*/
/* -- BEGIN MEDIA QUERIES --*/
/* -- BEGIN MEDIA QUERIES --*/



/*--Desktop--*/
/*--Desktop--*/
@media only screen and (min-width: 601px) {   
    
  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ------ Classes ------ */



/* ------ (close) Classes ------ */
}



/*--Phone and Tablet--*/
/*--Phone and Tablet--*/
@media only screen and (min-width: 320px) and (max-width: 600px) {

/* ------ Classes ------ */
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------ (close) Classes ------ */
}



/*--Small Screens--*/
/*--Small Screens--*/
@media only screen and (max-width: 320px) {   
  h1 {
    font-family: Verdana;
    font-size: 1.5rem;
  }

  button {
    font-family: Verdana;   
    padding: 1rem 2rem;
    font-weight: bold;
  }

  #email {
    width: 100%;
  }

  #name {
    width: 100%;
  }

/* ------ Classes ------ */
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------ (close) Classes ------ */
}



.anim-elements {
  position: relative;
}

