nav {
    display: fixed;
    top: 0;
  }
  
  .full-content {
    display: flex;
    background-color: pink;
  }
  
  @media screen and (max-width: 600px) {
    * {
      font-size: 1rem;
    }
  }
  
  * {
    border: black 1px dotted;
  }
  
  header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 19px;
    padding: 25px 0px;
  }  