/* standard elements */
:root {
    --standard-page-color: rgba(50, 90, 250, 100);
    --standard-font-color: white;
    --dropdown-hover-color: #112254;
    --dropdown-button-color: #112254;
    --standard-page-shadow-color: rgba(0,0,0,0.2);
}


* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--standard-page-color);
    color: var(--standard-font-color)
   
}

h2 {
    font-size: 140%;
}

li {
    padding: .2rem;
}

hr {
    border: 3px solid white;
    margin: 2rem auto;
}

ul {
    list-style: none;
}

a {
    color: var(--standard-font-color);
    text-decoration: none;
}

input {
    background-color: white;
    color: black;
}
/* ---------------(close)standard elements ---------------- */  



/* --------------- classes ---------------- */

.warning {
    background-color: red;
    padding: 1.5rem;
}

.text-link {
    text-decoration: underline;
}

.video-container {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

.video-div {
    width: 80%;
    margin: auto;
}

/* this styles the large bold text (ex. "Acting) on pages other than index */

.current-page {
    display: block;
    text-align: left;
    padding-left: 2rem;
    font-size: 2.2rem;
}

/* ---------------(close) Classes ---------------- */

/* --------------- ID's ---------------- */

#send-email-form {
    padding: 1rem;
    border: 1px solid white;
    max-width: 400px;
}

#email-input {
    margin: 0 0 1rem 0;
}

#brief-message {
    resize: none;
    height: 100px;
    width: 300px;
}

#submit-button {
    margin: 1rem;
    cursor: pointer;
}


/* ---------------(close) ID's ---------------- */


/*------Media Queries---------*/


/*---Desktop View Media Queries----- */
@media only screen and (min-width: 1200px) {
    .full-content {
        max-width: 800px;
        margin: auto; 
    }

    .current-page {
        display: block;
        text-align: left;
        padding: 1.5rem;
        padding-top: 1rem;
        font-size: 2.2rem;
    }

    h1 {
        padding: 2rem;
    }
}

@media only screen and (min-width: 601px) {
    hr {
        width: 95%;
    }
}

/*------(close) desktop view Media Queries----- */




/*----tablet/large phone Media Queries-----*/
@media only screen and (max-width: 600px) {
    .link-box li {
        height: 2.2rem; 
    }


}
/*----(close) tablet/large phone Media Queries-----*/


/*----small phone Media Queries-----*/



@media only screen and (max-width: 600px) {
    hr {
        width: 100%;
    }
}
/*----(close) small phone-----*/






/*-------This is for the navbar------*/


/*navbar small screen media queries*/
@media only screen and (max-width: 683px) {

}


/*navbar medium screen media queries*/
@media only screen and (min-width: 684px) and (max-width: 1200px) {
    #location-bar {
        display: flex;
    }
}


/*navbar large screen media queries*/
@media only screen and (min-width: 1201px) {
    #location-bar {
        display: flex;
    }
}



.dropdown-button {
    background-color: var(--standard-page-color);
    padding: 1rem;
    min-width: 170px;
    font-size: 18px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px black;
    margin: 10px;
    cursor: pointer;
}


.drop-down-hidden {
    display: none;
    position: absolute;
    background-color: var(--standard-page-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--standard-page-shadow-color);
    z-index: 1;
    border: 1px solid var(--standard-font-color);
}

.drop-down-hidden a {
    color: var(--standard-font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-down-hidden a:hover {
    background-color: var(--dropdown-hover-color);
}

.dropdown:hover .drop-down-hidden {
    display: block
}

.dropdown:hover .dropdown-button {
    background-color: var(--dropdown-button-color);
}



/* ---------------(close) nav-bar elements ---------------- */  