 /* ------ Classes ------ */
/* ------ Classes ------ */
/* ------ Classes ------ */

/*-- contains all page contents--*/

.full-content {
  max-width: 90%;
  margin: auto;
}

/*-- contains all page contents--*/


/* ------ (close) Classes ------ */
/* ------ (close) Classes ------ */
/* ------ (close) Classes ------ */

  
/*--Desktop--*/
@media only screen and (min-width: 601px) {
  * {
    border: white dotted;
  }
  
  label {
    display: inline-block;
    padding: 0.2em;
  }
  
  
  h1 {
    font-family: Verdana;
  }
  
  
  body {
    color: white;
    font-family: Verdana;
    background: rgb(90, 100, 130);
  }
    
  input {
    background-color: rgb(100, 120, 170);
    color: white;
    border: none;
  }
    
  ::placeholder {
    color: rgba(255, 255, 255, 70%)
  }
    
  textarea {
    font-size: 18px;
    background-color: rgb(100, 120, 170);
    color: white;
    border: none;
  }
    
  button {
    padding: 1em 4em;
    font-family: Verdana;
      
  }
    
  hr {
    border: 0;
  }
    
  input {
    font-size: 18px;
  }
}


/*--Phone and Tablet--*/
@media only screen and (min-width: 320px) and (max-width: 600px) {
  * {
    border: white dotted;
  }
  
  label {
    display: inline-block;
    padding: 0.2em;
  }
  
  
  h1 {
    font-family: Verdana;
  }
  
  
  body {
    color: white;
    font-family: Verdana;
    background: rgb(90, 100, 130);
  }
    
  input {
    background-color: rgb(100, 120, 170);
    color: white;
    border: none;
  }
    
  ::placeholder {
    color: rgba(255, 255, 255, 70%)
  }
    
  textarea {
    font-size: 18px;
    background-color: rgb(100, 120, 170);
    color: white;
    border: none;
  }
    
  button {
    padding: 1em 4em;
    font-family: Verdana;
      
  }
    
  hr {
    border: 0;
  }
    
  input {
    font-size: 18px;
  }
}


/*--Small Screens--*/
@media only screen and (max-width: 320px) {
  * {
    border: white dotted;
    box-sizing: border-box;
  }
  
  label {
    display: inline-block;
    padding: 0.2em;
  }
  
  
  h1 {
    font-family: Verdana;
    font-size: 1.5rem;
  }
  
  
  body {
    color: white;
    font-family: Verdana;
    background: rgb(90, 100, 130);
  }
    
  input {
    background-color: rgb(100, 120, 170);
    color: white;
    border: none;
  }
    
  ::placeholder {
    color: rgba(255, 255, 255, 70%)
  }
    
  textarea {
    font-size: 18px;
    background-color: rgb(100, 120, 170);
    color: white;
    border: none;
  }
    
  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    font-family: Verdana;   
    width: 100px;
  }
    
  hr {
    border: 0;
  }
    
  input {
    font-size: 18px;
  }

  #email {
    width: 100%;
  }

  #name {
    width: 100%;
  }

  #anything-else {
    width: 100%;
  }
}