:root {
    --react-chunk-bg: #61dbfb;
    --react-chunk-prim: white;
}

.react-chunk {
    background-color: var(--react-chunk-bg);
    display: flex;
    width: 280px;
    color: var(--react-chunk-prim)
}

#react-chunk-text {
    display: flex;
    flex-direction: column;
}

.by-Jay {
    padding-left: 20px;
    padding-top: 10px;
}

.react-logo-div {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: var(--react-chunk-bg);
    color: white;
}

.made-with-react {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 0px 20px;
}