html {
  display: block;
}

img {
  display: block;
  padding: 20px;
}

#image {
  max-width: 100%;
  height: auto;
  width: 50%;
  margin: auto;
}

* {
  font-family: helvetica, sans-serif;
  padding: 10px;
}

#wiki-link {
  display: block;
  text-align: center;
}

span.bold, span.greyed {
  font-weight:bold;
}

span.greyed {
  color: rgba(0, 0, 0, 40%)
}

hr {
  border: none;
}
